<!-- menu-bar.component.html -->
<aside class="w-64 bg-gray-700 h-screen p-6 fixed">
  <ul class="space-y-4">
    <li><a routerLink="/advising" class="text-white block hover:bg-gray-600 p-2 rounded">{{ 'ADVISING' | translate }}</a></li>
    <li><a routerLink="/research-group" class="text-white block hover:bg-gray-600 p-2 rounded">{{ 'RESEARCH GROUP' | translate }}</a></li>
    <li><a routerLink="/research-line" class="text-white block hover:bg-gray-600 p-2 rounded">{{ 'RESEARCH LINE' | translate }}</a></li>
  </ul>
</aside>
