<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center">
      <img src="assets/img/fiis.jpeg" alt="Logo" class="h-10 w-10 mr-2">
      <div class="text-white text-lg font-bold">{{ 'ASESORIA ACADEMICA' | translate }}</div>
    </div>
    <div class="flex space-x-4">
      <a href="#" class="text-gray-300 hover:text-white">{{ 'HOME' | translate }}</a>
      <a href="#" class="text-gray-300 hover:text-white">{{ 'ABOUT' | translate }}</a>
      <a href="#" class="text-gray-300 hover:text-white">{{ 'SERVICES' | translate }}</a>
      <a href="#" class="text-gray-300 hover:text-white">{{ 'CONTACT' | translate }}</a>
    </div>
    <div>
      <select (change)="changeLanguage($event)" class="bg-gray-800 text-gray-300 border border-gray-600 rounded">
        <option value="en">English</option>
        <option value="es">Español</option>
      </select>
    </div>
  </div>
</nav>